<h3>Create your new team below: </h3>
<form method="POST" action="/teams/new">
<label for="name">Team Name:</label><br>
<input type="text" name="name" id="name"><br>
<label for="formation">Choose a formation:</label>
<select name="formation" id="formation">
    <option value="">--Please choose an option--</option>
    <option value="433">4-3-3</option>
    <option value="4231">4-3-2-1</option>
</select>
<input type="submit" value="Create team">