<br><br><h1 style="text-align:center"> <%= current_user.username %></h1>
<br>
<center><img src="https://images.daznservices.com/di/library/GOAL/ba/68/premier-league-ball-2018_ki4zfpp1rslz1qzel39b0q4r5.png?t=314639672&quality=60&w=1200&h=800" width= "577" height ="384" alt="Football"></center>
<br>