<div class="container">
<h1 style="text-align:center;font-size:60px"> DREAM XI </h1><br>
  <nav>
    <a href="/signup" style="text-align:center"><center>Sign Up</center></a> 
    <a href="/login" style="text-align:center"><center>Login</center></a>
  </nav>
</div>
<br><br>
<center><img src="https://i.pinimg.com/originals/5c/29/ec/5c29ec6f3eed25b831df1f48e516e7af.jpg" alt="Football Wallpapers" width="720" height="491"/></center>
